<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />

    <title>{{ page.title | default: layout.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="/css/app/fonts.css" />
    <link rel="stylesheet" href="/css/app/sponsors.css" />
    <link rel="stylesheet" href="/css/app/matrix-widget.css" />

    <base target="_blank" />
  </head>

  <body class="{% if layout.body_class %}{{ layout.body_class }}{% endif %} {% if page.body_class %}{{ page.body_class }}{% endif %}">
    {{ content }}
  </body>
</html>
