_site

.bundle
.jekyll-metadata
.vagrant

# BackstopJS
/backstop/reports/
/backstop/results/

.DS_Store

# IDE stuff
atlassian-ide-plugin.xml
*.iml
*.idea

# Other ignorable files
*.*~
*~
*.log
*.gz
*.swp
