---
layout: page
nav: archive
title: Archive
---

{% assign conferences = site.archive-conferences | reverse %}

<div class="text-center">
  <h1>Archive</h1>

  {% for conference in conferences %}
  {% capture year %}{{ conference.slug }}{% endcapture %}
  {% capture session_path_prefix %}/{{ year }}/{% endcapture %}
  {% assign keynotes = site.archive-sessions
    | where_exp: 'session', 'session.relative_path contains session_path_prefix'
    | where_exp: 'session', 'session.keynote'
    | sort: 'beginning' %}

  <div style="margin: 3em 0;">
    <h2>
      <a href="{{ conference.url }}">SeaGL {{ year }}{% if conference.subtitle %}: “{{ conference.subtitle }}”{% endif %}</a>

      <span class="subtitle">{{ conference.dates }}</span>
    </h2>

    {% unless keynotes == empty %}
    <div style="margin-bottom: 2em;">
      <h4>Keynotes</h4>

      {% for keynote in keynotes %}
      {% for presenter in keynote.presenters %}
      <p>{{ presenter.name }}{% if presenter.affiliation %}<span class="text-muted">, {{ presenter.affiliation }}</span>{% endif %}</p>
      {% endfor %}
      {% endfor %}
    </div>
    {% endunless %}

    <p><a class="btn btn-primary" href="{{ conference.url }}">View All {{ year }} Sessions</a></p>
  </div>

  {% endfor %}
</div>
