---
layout: page
nav: news
body_id: news
title: News
---

<div class="row">
    <div class="col-xs-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
        <h1>News</h1>
        {% for post in paginator.posts %}
            <div class="post">
                <h2><a href="{{ post.url }}">{{ post.title }}</a><br>
                    <small>{{ post.date | date: '%B %d, %Y' }}</small></h2>
                {{ post.content }}
            </div>
        {% endfor %}

        <hr>

        {% if paginator.total_pages > 1 %}
            <div class="pagination">
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
                {% else %}
                    <span>&laquo; Prev</span>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                        <em>{{ page }}</em>
                    {% elsif page == 1 %}
                        <a href="{{ '/index.html' | relative_url }}">{{ page }}</a>
                    {% else %}
                        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
                {% else %}
                    <span>Next &raquo;</span>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
