      </div>

      <div class="well" id="policy-content">
        <img src="/img/seagl-cropped.svg" class="pull-left" alt="Logo" width="306" height="200">
        <p>SeaGL is dedicated to a harassment-free conference experience for
        everyone. <br class="hidden-sm">Our code of conduct can be found
        <a href="/code_of_conduct.html">here</a></p>
      </div>

      <div>
          <p>All website code is licensed {{ site.custom.license.site_code }}.</p>
          <p>Unless otherwise specified, all website content is licensed {{ site.custom.license.content }}.</p>
      </div>

      <footer>
        <ul id="footer-nav" role="navigation" class="list-inline">
          <li>Published with <a href="http://pages.github.com">GitHub Pages</a></li>
          <li>{{ site.custom.a.social.twitter }}</li>
          <li>{{ site.custom.a.social.facebook }}</li>
          <li>{{ site.custom.a.social.youtube }}</li>
        </ul>
      </footer>
    </div>

    {% include piwik.html %}
  </body>
</html>
