<footer class="container">
  <div class="well well-mascot">
    <p>SeaGL is dedicated to a harassment-free conference experience for everyone.</p>
    <p>Our code of conduct can be found <a href="/code_of_conduct.html">here</a></p>
  </div>

  <div>
    <p>Please <a href="/feedback">let us know</a> if you have any feedback about SeaGL. You're welcome to submit anonymously.</p>

    <p>
      Stay informed by signing up for our low-traffic
      {{ site.custom.a.mailing_list.seagl_announce }}.
    </p>

    <p>Interested in helping make SeaGL happen? Email
    participate@seagl.org! We'd love to have anyone help out, and are
    especially interested in folks who can help with finance and
    fundraising, on-site logistics, promotion and outreach, and OSEM.</p>
  </div>

  <div>
    <p>All website code is licensed {{ site.custom.license.site_code }}. Unless otherwise specified, all website content is licensed {{ site.custom.license.content }}.</p>
  </div>

  <ul id="footer-nav" role="navigation" class="list-inline-delimited">
    <li>{{ site.custom.a.social.github }}</li>
    <li>{{ site.custom.a.social.mastodon }}</li>
    <li>{{ site.custom.a.social.pixelfed }}</li>
    <li>{{ site.custom.a.social.twitter }}</li>
    <li>{{ site.custom.a.social.facebook }}</li>
    <li>{{ site.custom.a.social.youtube }}</li>
  </ul>
</footer>
