      </div>
      <div class="well" id="policy-content">
        <img src="/img/seagl-cropped.svg" class="pull-left" alt="Logo" width="306" height="200">
        <p>SeaGL is dedicated to a harassment-free conference experience for
        everyone. <br class="hidden-sm">Our code of conduct can be found 
        <a href="/code_of_conduct.html">here</a></p>
      </div>
      <footer>
        <ul id="footer-nav" role="navigation" class="list-inline">
          <li>Published with <a href="http://pages.github.com">GitHub Pages</a></li>
          <li><a href="https://www.facebook.com/SeattleGnuLinuxConference">Facebook</a></li>
          <li><a href="https://plus.google.com/105971622418115358467">Google+</a></li>
          <li><a href="https://twitter.com/seagl">Twitter</a></li>
        </ul>
      </footer>
    </div>
</body>
</html>
