{% assign sponsor_year = site.sponsor-years | last %}

<nav class="navbar navbar-default" role="navigation" id="main-nav">
  <a class="" href="/">
    <img src="/img/logo.svg" id="logo" alt="Logo" width="184" height="200">
  </a>

  <div id="main-nav-container">
    <ul class="nav pull-left navbar-nav main-nav-links inline-list">
      <li {% if page.nav == "home" %} class="active" {% endif %} ><a href="/">Home</a></li>
      <li {% if page.nav == "schedule" %} class="active" {% endif %} ><a href="/schedule">{{ site.custom.year }} schedule</a></li>
    </ul>

    <ul class="nav pull-right navbar-nav main-nav-links inline-list">
      <li {% if page.nav == "sponsors" %} class="active" {% endif %} ><a href="/sponsors/2026">Sponsors</a></li>
      <li {% if page.nav == "archive" %} class="active" {% endif %} ><a href="/archive">Archive</a></li>
    </ul>
  </div>
</nav>
