<div class="jumbotron">
  <div class="container">
    <h1>SeaGL 2023</h1>

    <p class="subtitle">Turning It Up to Eleven!</p>

    <div class="message">
      <p>
        Welcome to the eleventh annual <i>Seattle GNU/Linux</i> conference!
        Please join us in-person or online for an exciting lineup of keynotes, conference sessions, discussions, and social events.
     </p>

      <p>As always, SeaGL is free to attend and registration is not required.</p>
    </div>

    {% if page.nav != "watch" %}<p>
      <a class="btn btn-primary btn-lg" href="/attend#attend-in-person" role="button">Attend In-Person</a>
      <a class="btn btn-primary btn-lg" href="/attend#attend-virtually" role="button">Attend Remotely</a>
      <span class="text-small">or <a href="/watch">Watch Live</a></span>
    </p>{% endif %}
  </div>
</div>
