<div class="jumbotron">
  <div class="container">
    <h1>SeaGL 2020</h1>

    <p class="subtitle"><a href="/news/2020/11/10/announcing-SeaGL-2020-theme">OSI Layer 8: freeing the people</a></p>

    <div class="message">
      <p>Welcome to the eighth annual <i>Seattle GNU/Linux</i> conference! Please join us online for an exciting lineup of keynotes, conference sessions, discussions, and social events.</p>

      <p>As always, SeaGL is free to attend does not require registration.</p>
    </div>

    <p>
      <a class="btn btn-primary btn-lg" href="https://attend.seagl.org/" role="button">Enter Conference</a>
      {% if page.nav != "watch" %}
        <span class="text-small">or <a href="/watch">Watch Live</a></span>
      {% endif %}
    </p>
  </div>
</div>
