<div class="jumbotron">
  <div class="container">
    <h1>SeaGL 2022</h1>

    <p class="subtitle"><a href="/news/2022/11/03/SeaGL-2022-hang-ten.html">Hang Ten!</a></p>

    <div class="message">
      <p>
        Welcome to the tenth annual <i>Seattle GNU/Linux</i> conference!
        Please join us online for an exciting lineup of keynotes, conference sessions, discussions, and social events.
     </p>

      <p>As always, SeaGL is free to attend.</p>
    </div>

    <p>
      <a class="btn btn-primary btn-lg" href="/attend" role="button">Enter Conference</a>
      {% if page.nav != "watch" %}
        <span class="text-small">or <a href="/watch">Watch Live</a></span>
      {% endif %}
    </p>
  </div>
</div>
