<!--
  Piwik

  We use this to try to understand how far the word about SeaGL has spread.

  We also understand that some people don't like to be tracked, and would highly recommend something like adblock with the privacy filter list.
-->

<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//{{ site.custom.metrics.domain }}/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', {{ site.custom.metrics.siteid }}]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>

<noscript><p><img src="//{{ site.custom.metrics.domain }}/piwik.php?idsite={{ site.custom.metrics.siteid }}" style="border:0;" alt="" /></p></noscript>
