---
layout: page

levels:
  platinum: Platinum
  gold: Gold
  silver: Silver
  bronze: Bronze
  media: Media Sponsors
  thanks: Special Thanks To
---

{% assign conference = page %}
{% capture year %}{{ conference.slug }}{% endcapture %}
{% capture path_prefix %}_archive-sessions/{{ year }}/{% endcapture %}
{% assign days = site.archive-sessions
  | where_exp: 'session', 'session.relative_path contains path_prefix'
  | sort: 'beginning'
  | group_by_exp: 'session', 'session.beginning | date: "%A"' %}
{% assign posts = site.tags[year] | where: 'categories','news' | reverse %}
{% assign sponsors = site.data.sponsorship.sponsors | sort: "name" %}
{% assign year = year | plus: 0 %}

<div class="row">
  <div class="col-xs-12 col-lg-10 col-lg-push-1">
    <h1 class="text-center">
      SeaGL {{ year }}

      {% if conference.subtitle %}
      <span class="subtitle">{{ conference.subtitle }}</span>
      {% endif %}
    </h1>

    {{ content }}

    <div class="row">
      {% for day in days %}
      <div class="col-xs-12 col-sm-6">
        <h2>{{ day.name }}</h2>

        <ol class="list-unstyled">
          {% for session in day.items %}
          <li style="margin-bottom: 0.5em;">
            <div>
              <a href="{{ session.url }}">{{ session.title }}</a>

              {% if session.keynote %}
              <span class="label label-default">Keynote</span>
              {% endif %}
            </div>

            {% for presenter in session.presenters %}
            <div>
              {{ presenter.name }}{% if presenter.affiliation %}<span class="text-muted">, {{ presenter.affiliation }}</span>{% endif %}
            </div>
            {% endfor %}
          </li>
          {% endfor %}
        </ol>
      </div>
      {% endfor %}
    </div>

    <h2>Sponsors</h2>

    {% for level in layout.levels %}
      {%- capture logos -%}
        {%- for sponsor in sponsors -%}
          {%- for sponsorship in sponsor.sponsorships -%}
            {%- if sponsorship[0] == year and sponsorship[1] == level[0] -%}
              <a class="logo-wall-item {% if sponsor.logo.horizontal %}horizontal{% endif %}" href="{{ sponsor.url }}">
                {%- if sponsor.logo.horizontal -%}
                  <img src="{{ sponsor.logo.horizontal }}" alt="{{ sponsor.name }}">
                {%- elsif sponsor.logo.square -%}
                  <img src="{{ sponsor.logo.square }}" alt="{{ sponsor.name }}">
                {%- else -%}
                  {{ sponsor.name }}
                {%- endif -%}
              </a>
            {%- endif -%}
          {%- endfor -%}
        {%- endfor -%}
      {%- endcapture -%}

      {% unless logos == empty %}
        <h3 class="text-center">{{ level[1] }}</h3>

        <div class="logo-wall logo-wall-summary level-{{ level[0] }}">{{ logos }}</div>
      {% endunless %}
    {% endfor %}

    {% unless posts == empty %}
    <h2>News</h2>

    <ul>
      {% for post in posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="text-muted">· <time datetime="{{ post.date | date: '%F' }}">{{ post.date | date_to_string: 'ordinal', 'US' }}</time></span>
      </li>
      {% endfor %}
    </ul>
    {% endunless %}

    <p style="margin-top: 2em;"><a href="/archive">« All archives</a></p>
  </div>
</div>
