---
layout: default
nav: sponsors
body_id: sponsors
title: Sponsors
---
{% assign visible_levels = "platinum gold silver bronze media" %}

<h1>SeaGL Sponsors</h1>

<div class="lead text-center">
  {% capture md %}{% include sponsor_message.md %}{% endcapture %}{{ md | markdownify }}
</div>

{% for sponsor_year in site.sponsor-years reversed %}
  {% capture year %}{{ sponsor_year.slug }}{% endcapture %}{% assign year = year | to_integer %}
  {% assign visible = site.data.sponsorship.sponsors | where_exp: "sponsor", "visible_levels contains sponsor.sponsorships[year]" %}

  {% unless visible == empty %}
    <h2><a href="{{ sponsor_year.url }}">SeaGL {{ year }} Sponsors</a></h2>

    {% include sponsor_wall.html heading="h3" levels=visible_levels size="medium" year=year %}

    <p class="text-center">
      <a class="btn btn-primary" href="{{ sponsor_year.url }}">View All {{ year }} Sponsors</a>
    </p>

    <hr>
  {% endunless %}
{% endfor %}
