<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.description %} {{ page.description }} {% elsif page.title %} {{ page.title }} {% else %} SeaGL 2013 {% endif %}" />

    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="screen" href="seagl.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap-responsive.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <title>{% if page.title %} {{ page.title }} | {% endif %} Website for the Seattle GNU/Linux Conference</title>

    <!-- Google Analytics

    We use this to try to understand how far the word about SeaGL has spread.

    We also understand that some people don't like to be tracked, and would highly
    recommend something like adblock with the privacy filter list.
    ================================================== -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43472332-1', 'seagl.org');
      ga('send', 'pageview');

    </script>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">SeaGL 2013</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
               Your Conference. Be There.
            </p>
            <ul class="nav">
              <li {% if page.nav == "home" %} class="active" | {% endif %} ><a href="/">Home</a></li>
              <li {% if page.nav == "schedule" %} class="active" | {% endif %} ><a href="/schedule.html">Schedule</a></li>
              <li {% if page.nav == "get_involved" %} class="active" | {% endif %} ><a href="/get_involved.html">Get Involved</a></li>
              <li {% if page.nav == "code_of_conduct" %} class="active" | {% endif %} ><a href="/code_of_conduct.html">Code of Conduct</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">

        <div class="row-fluid">
            {{ content }}
        </div>
        
        <hr>
        <p>SeaGL is dedicated to a harassment-free conference experience for everyone. Our anti-harassment policy can be found <a href="/code_of_conduct.html">here</a>.</p>

        <div class="navbar navbar-inverse navbar-fixed-bottom">
          <div class="navbar-inner">
            <div class="container-fluid">
              <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Published with <a href="http://pages.github.com">GitHub Pages</a>
                </p>
                <ul class="nav">
                  <li><a href="https://www.facebook.com/SeattleGnuLinuxConference">Facebook</a></li>
                  <li><a href="https://plus.google.com/105971622418115358467">Google+</a></li>
                  <li><a href="https://twitter.com/seagl">Twitter</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->

    <script src="http://cdn.lanyrd.net/badges/embed-v1.min.js"></script>

    <a href="https://github.com/SeaGL/seagl.github.io">
        <img style="position: absolute; top: 40px; left: 0; border: 0;" src="img/forkme.png" alt="Fork me on GitHub">
    </a>

  </body>

</html>
