---
layout: page

levels:
  platinum: Platinum
  gold: Gold
  silver: Silver
  bronze: Bronze
  media: Media Sponsors
  thanks: Special Thanks To
---

{% capture year %}{{ page.slug }}{% endcapture %}{% assign year = year | plus: 0 %}
{% assign sponsors = site.data.sponsorship | sort: "name" %}

<div class="hero-unit">
  <h1>SeaGL {{ year }} Sponsors</h1>

  <div class="lead text-center">
    {% capture md %}{% include sponsor_message.md %}{% endcapture %}{{ md | markdownify }}
  </div>

  {{ content }}
</div>

{% for level in layout.levels %}
  {%- capture logos -%}
    {%- for sponsor in sponsors -%}
      {%- for sponsorship in sponsor.sponsorships -%}
        {%- if sponsorship[0] == year and sponsorship[1] == level[0] -%}
          <a class="logo-wall-item {% if sponsor.logo.horizontal %}horizontal{% endif %}" href="{{ sponsor.url }}">
            {%- if sponsor.logo.horizontal -%}
              <img src="{{ sponsor.logo.horizontal }}" alt="{{ sponsor.name }}">
            {%- elsif sponsor.logo.square -%}
              <img src="{{ sponsor.logo.square }}" alt="{{ sponsor.name }}">
            {%- else -%}
              {{ sponsor.name }}
            {%- endif -%}
          </a>
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  {%- endcapture -%}

  {% unless logos == empty %}
    <h2>{{ level[1] }}</h2>

    <div class="logo-wall level-{{ level[0] }}">{{ logos }}</div>

    <hr>
  {% endunless %}
{% endfor %}

<ul class="nav nav-pills nav-pills-centered" style="margin-bottom: 2em;margin-top: 3em;">
  {% for sponsor_year in site.sponsor-years %}
  {% capture y %}{{ sponsor_year.slug }}{% endcapture %}{% assign y = y | plus: 0 %}
  <li class="{% if y == year %}active{% endif %}"><a href="{{ sponsor_year.url }}">{{ y }}</a></li>
  {% endfor %}
</ul>

<p class="text-center text-muted">Logos are used with permission on this site and are not licensed by SeaGL.</p>
