---
layout: page
---

{% capture year %}{{ page.slug }}{% endcapture %}
{% assign sponsors = site.data.sponsorship.sponsors | sort: "name" %}

<h1>SeaGL {{ year }} Sponsors</h1>

<div class="lead text-center">
  {% capture md %}{% include sponsor_message.md %}{% endcapture %}{{ md | markdownify }}
</div>

{{ content }}

{% include sponsor_wall.html heading="h2" size="large" year=year %}

<ul class="nav nav-pills nav-pills-centered" style="margin-bottom: 2em;margin-top: 3em;">
  {% for sponsor_year in site.sponsor-years %}
  <li class="{% if sponsor_year.slug == page.slug %}active{% endif %}"><a href="{{ sponsor_year.url }}">{{ sponsor_year.slug }}</a></li>
  {% endfor %}
</ul>

<p class="text-center text-muted">Logos are used with permission on this site and are not licensed by SeaGL.</p>
