/* Lanyrd widget */

.lanyrd-detailed-list .extended-detail p,
.lanyrd-detailed-list .meta,
.lanyrd-people-list .name {
  font-family: 'Lato', sans-serif;
}

.schedule-date {
  text-align: center;
  color: #999;
  font-size: 20px;
  background-color: #f1f1f1;
  color: #999;
  padding: 10px;
  margin: 0 auto 1em auto;
  width: 50%;
  border-bottom: 1px solid #ccc;
  text-shadow: 0 1px 1px #fff, 0 1px 1px #fff;
}
.lanyrd-detailed-list .detailed-list-item {
  padding: 20px;
  border:1px solid #f1f1f1;
  border-right: 2px solid #ccc;
  border-bottom: 4px solid #ccc;
  background-color: #fff;
  position: relative;
}
.detailed-list-item h3 .opener {
  margin: 1em 0;
  background-color: #074558;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  text-shadow: none;
  display: block;
  position: relative;
  width: 250px;
  margin-left: -24px;
  border-left: 6px solid #052E3A;
  text-indent: 9px;
}
.lanyrd-detailed-list h3 {
  width: 70%;
}
.detailed-list-item h3 a {
  font-size: 28px;
}
.lanyrd-people-list .labels li {
  width: 50%;
}
.lanyrd-detailed-list .meta {
  margin: 1em 0;
}
.lanyrd-detailed-list .detailed-list-item:nth-of-type(even) {
}
.lanyrd-detailed-list .detailed-list-item:nth-of-type(odd) {
}
.dtstart, .dtend {
  font-weight: bold;
}
