* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #FFFCF7;
  border-bottom: 12px solid #0C5A73;
  overflow-x: hidden;
}
:hover {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
h1, h2, h3, h5, h6 {
  font-family: 'Dosis', sans-serif;
}
h1 {
  font-size: 500%;
  text-transform: uppercase;
  color: #FCB320;
  text-shadow: 0 1px 1px #fff;
}
a, a:active {
  color: #0C5A73;
}
a:visited {
  color: #0C5A73;
}
a:hover {
  color: black;
}
div > a, p a {
  text-decoration: underline;
}
h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: #0C5A73;
  text-shadow: 0 1px 1px #fff;
}
strong {
  font-weight: 600;
}
.sidebar-nav {
  padding: 9px 0;
}
#main-content {
  margin-top: 50px;
}
#logo {
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left:-100px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
#logo:hover {
  -webkit-transform: scale(1.1) rotate(-5deg);
  -moz-transform: scale(1.1) rotate(-5deg);
  -ms-transform: scale(1.1) rotate(-5deg);
  -o-transform: scale(1.1) rotate(-5deg);
  transform: scale(1.1) rotate(-5deg);
}
#main-nav {
  position: relative;
  height: 170px;
  background-color: #074558;
  border-bottom: 9px solid #FCB320;
  border-left: none;
  border-radius: 0;
  border-right: none;
  border-top: none;
}
#main-nav-container {
  width: 900px;
  margin: 60px auto;
}
#main-nav .main-nav-links li {
  width: 160px;
  font-size: 16px;
  margin: 0 6px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}
#main-nav .main-nav-links li a {
  color: #fff;
  background-color: transparent;
  border: 1px solid #0C5A73;
}
#main-nav .main-nav-links li.active a {
  border-color: #FCB320;
  color: #FCB320;
}
#main-nav .main-nav-links li a:hover {
  background-color: transparent;
  color: #FCB320;
}
.main-nav-links .navbar a {
  color: #fff;
}
.lead {
  line-height: 44px;
}
.post {
  overflow-y: hidden; /* Contain floating images. */
  position: relative; /* Reference for img.align-* */
}
.post img {
  height: auto;
  max-width: 100%;
}
.post img.align-left,
.post img.align-right {
  margin-bottom: 1em;
  max-height: 24em;
  max-width: 25%;
}
.post img.align-left {
  clear: left;
  float: left;
  margin-right: 1em;
}
.post img.align-right {
  clear: right;
  float: right;
  margin-left: 1em;
}
.post table {
  margin-bottom: 1em;
}
.post table.table-grid {
  border-spacing: 1em;
  border-collapse: separate;
  margin: -1em -1em 0;
}
.well {
  background-color: #FCB320;
  color: #fff;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  border:none;
  line-height: 2.2em;
  position: relative;
}
.well a {
  background-color:#fff;
  color: #0C5A73;
  padding: 4px 10px;
  margin: 0.2em;
  text-decoration: none;
  border-bottom: 3px solid #f1f1f1;
}
.well a:hover {
  color: #000;
}
#main-nav .brand img {
  position: absolute;
  left: 50%;
  margin-left: -60px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0C5A73;
}
#policy-content {
  text-align: center;
  margin-top: 4em;
  height: 130px;
}
#policy-content img {
  position: absolute;
  top: -70px;
  left: 30px;
}
#policy-content p {
  margin-left: 200px;
}
#footer-nav {
  margin: 6em auto 4em auto;
}
.venue-map {
  height: 66vh;
  max-height: calc(100vh - 2cm);
  min-height: 20em;
  width: 100%;
}

@media (max-width: 1200px) {
  #policy-content img {
    display: none;
  }
  #policy-content p {
    margin: 0;
  }
  #policy-content {
    height: auto;
  }
  .well a {
    display: block;
    width: 100%;
  }
}
@media (max-width: 910px) {
  ul.pull-left,
  ul.pull-right {
    float: none!important;
  }
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
  #main-nav-container {
    width: 60%;
    margin: 20px;
    float: right;
  }
  #policy-content {
    height: auto;
    margin-top: 2em;
  }
  #logo {
    margin: 0;
    width: 30%;
    left: 35px;
    top: 35px;
  }
  #main-content {
    clear: both;
    margin-top: 0;
  }
  #main-nav {
    height: 270px;
  }
  #main-nav .main-nav-links li {
    width: 100%;
    margin: 0 0 4px 0;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
  }
  h1 {
    font-size: 60px;
  }
}
@media (max-width: 765px) {
  #main-nav-container {
    width: 60%;
    margin: 48px -44px 0 0;
    float: right;
  }
}
@media (max-width: 560px) {
  #main-nav-container {
    width: 50%;
  }
}
