/* Sponsorship CSS */

#sponsors #main-content h1 {
    text-align: center;
}

#sponsors #main-content a,
#sponsors #main-content a:active,
#sponsors #main-content a:visited
{
    color: #0C5A73 !important;
    text-decoration: none !important;
}

/* Different max sizes for different levels */


.logo {
    padding:0 10px 10px 0;    
}

.platinum img.logo {
    max-width: 100%;
    max-height: 200px;
}

.platinum div.name {
    height: 200px;
}

.gold img.logo {
    max-width: 100%;
    max-height: 100px;
}

.gold div.name {
    height: 100px;
}

.silver img.logo {
    max-width: 100%;
    max-height: 75px;
}

.silver div.name {
    height: 75px;
}

.bronze img.logo {
    max-width: 100%;
    max-height: 50px;
}

.silver div.name {
    height: 50px;
}

.thanks img.logo {
    max-width: 100%;
    max-height: 50px;
}

.thanks div.name {
    height: 50px;
}
