---
---

#sponsors h1 {
  text-align: center;
}

.logo-wall {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: -0.75em;
  margin-right: -0.75em;
  margin-bottom: 1em;

  // Base size
  &.medium { font-size: 1.25em; }
  &.large { font-size: 2.25em; }

  // Level sizes
  &.level-silver .logo-wall-item { font-size: 1.1em; }
  &.level-gold .logo-wall-item { font-size: 1.2em; }
  &.level-platinum .logo-wall-item { font-size: 1.4em; }
}

.logo-wall-item {
  margin: 0.5em 0.75em;
  text-align: center;

  // Logo shapes
  & { height: 5em; max-width: 6em; }
  &.horizontal { height: 3em; max-width: 12em; }

  & > img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: auto;
  }
}
@media (prefers-color-scheme: dark) {
    .logo-wall {
         display: flex;
         border-radius: 4px;
         background-color: #B3B3B3;
    }
}
