/* Sponsorship CSS */

#sponsors #main-content h1 {
    text-align: center;
}

#sponsors #main-content a,
#sponsors #main-content a:active,
#sponsors #main-content a:visited
{
    color: #0C5A73 !important;
    text-decoration: none !important;
}

/* Different max sizes for different levels */


.logo {
    padding: 0 15px 15px 0;
}

.platinum img.logo {
    max-width: 100%;
    max-height: 200px;
}

.platinum div.name {
    height: 200px;
}

.gold img.logo {
    max-width: 100%;
    max-height: 150px;
}

.gold div.name {
    height: 150px;
}

.silver img.logo {
    max-width: 300px;
    max-height: 150px;
}

.silver div.name {
    height: 120px;
}

.bronze img.logo {
    max-width: 300px;
    max-height: 125px;
}

.silver div.name {
    height: 80px;
}

.thanks img.logo {
    max-width: 300px;
    max-height: 125px;
}

.thanks div.name {
    height: 80px;
}
